/* .Header {
  text-align: center;
  width: 66%;
  margin: auto;
  margin-top: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background-color: brown;
}

.h-right {
  display: flex;
  /* justify-content: right; */
  background-color: blueviolet;
  align-items: center;
}

.h-mid {
  display: flex;
  /* flex: 2; */
  justify-content: right;
  background-color: blue;
}

.user {
  display: flex;
  align-items: center;
}

.user * {
  margin: 10px;
}

.profile-pic {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* .header button {
  font-size: 300%;
} */

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

.cart {
  font-size: 300%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  margin-top: 2vh;
  /* -webkit-box-shadow: 0 0 50px rgb(124, 124, 124); */
  /* box-shadow: 0 0 50px rgb(134, 134, 134); */
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.288);
}

.about {
  text-align: left;
}
.about img {
  float: right;
  width: 40%;
}

.about p {
  font-size: large;
}

.footer {
  border-style: solid;
}

.m-left {
  display: flex;
  justify-content: space-evenly;
  flex: 3;
  font-size: larger;
}

.m-right {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: right;
}
